---
---
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body {
  color: #444;
  background-color: #F1F1F1;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-image: url(./textures/brilliant.png);
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #333;
  margin-top: 40px;
  margin-bottom: 20px;
}

h1 {
	margin-top: 15px;
	margin-bottom: 10px
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #333;
}

h1 a:hover {
    color: #333;
    text-decoration: None;
}

.copyright {
  color: #ffffff;
}

.footer {
  text-align: center;
}

.sidebar h1 {
  color: #333;
  font: {
    size: 1.3em;
  };
}

.sidebar li {
  margin-top: 0.7em;
  line-height: 1em;
}

//.sidebar a:hover {
//  color: #3071a9;
//}

.well {
  background-color: #fefefe;
  box-shadow: 0px 0px 0px 0px, 0px 8px 16px rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 6px;
  padding: 27px;
  padding-top: 19px;
}

.well > main-page {
  width: 75%;
}

.main-page {
  width: 75%;
}

/*.well h1 {
  color: #ddd;
}*/

.author {
  color: #ee4444;
}

.author a {
  color: #ee4444;
}

img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

table, th, tb {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

td, th {
    padding: 3;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}

.container {
    max-width: 900px;
}

//*******************************************************
//                    Code Blocks
//*******************************************************
.highlight,
img,
p > pre,
p > code,
p > nobr > code,
li > code,
h5 > code,
.note > code {
  //background-color: #333;
  //-webkit-border-radius: 5px;
  //-moz-border-radius: 5px;
  //border-radius: 5px;
  //-webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  //-moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
 // box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

code {
  background-color: transparent;
  font-size: 85%;
  border-radius: 5px;
}

pre {
  color: #f9f9f9;
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 1em;

  @include font-size(13px);

  line-height: 1.4;
  word-break: break-all;
  //background-color: #f9f9f9;
  border: none;
  border-radius: 5px;
  overflow-y: auto;
  //box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

p > code {
  //box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

//*******************************************************
//                    Links
//*******************************************************
a {
  color: #a94442;
}

a:hover {
  color: #a94442;
}

//*******************************************************
//                    Social Links
//*******************************************************
ul.social-media {
  text-align: center;
  padding: 0 0 10px 0;

  li {
    display: inline-block;
  }

  li > a {
    width: 45px;
    height: 45px;

    @include transition(color 0.2s);

    display: inline-block;
    color: #F5F5F5;

    &:hover {
      color: #a94442;
    }
  }
}

//*******************************************************
//                    Post
//*******************************************************
h3.post-title {
  padding-top: 35px;
  text-align: left;
  font-size: 1.6em;
}

div.post-meta {
  border: 1px solid #f3f3f3;
  border-width: 1px 0;
  margin: 0 0 20px;
  font-size: 0.8em;

  ul {
    display: inline;
    padding-left: 0px;
    float: right;
  }

  ul > li {
    display: inline;
    padding: 0 0 5px 20px;
  }

  .post-time {
    display: inline;
    color: #777;

    //    float: right;
 
  }
}

.post-footer {
  height: 40px;
  display: table;
  width: 100%;
  position: relative;
  margin-top: 32px;
  text-align: center;
}

//********************************************************//
//                    Header
//********************************************************//

nav a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
  //font-family: "Avenir Next LT Pro Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-weight: bold;
  font-family: "Lato", serif;
  font-weight: 400;
}

nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}

.navbar-brand {
  font-size: 40px;
  color: #a94442 !important;
}

nav.navbar.shrink {
  min-height: 25px;
}

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

nav.shrink .navbar-brand {
  font-size: 25px;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: right;
  padding-top: 5px;
}

@media (min-width: 1000px) {
  .twoRow .navbar-collapse {
    clear: left;
  }

  .footer-distributed .footer {
    text-align: center;
  }

  .footer-distributed .footer {
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer {
    line-height: 1.8;
  }
}

nav.navbar {
  background-color: #333;
  min-height: 75px;
  border-radius: 0px;
  box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
}

.navbar-inverse .navbar-nav > li > a {
  color: #a94442;
  font-size: 21px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #FeFefe;
}

//********************************************************//
//                    Footer
//********************************************************//
.footer-distributed {
  background-color: #333333;
  font: normal 16px sans-serif;
  padding: 20px 25px;
  margin-top: 80px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.footer {
  color: #a94442;
}

.theme-origin {
	font-size: 70%;
}

/*----------------------------*\
 *|    Table of content, toc     |
 *\*---------------------------- */

.toc {
  background-color: 2c2c2c;
  margin-left: -19px;
  margin-right: -19px;

  //  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.box h3 {
  text-align: center;
  position: relative;
  top: 80px;
}

.box {
  width: 70%;
  height: 200px;
  background: #FFF;
  margin: 40px auto;
}

/*==================================================
 * Effect 1
 * =============================================== */
.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
    padding-top: 30px;
  padding-bottom: 250px;
}

/* Mathjax */
.MathJax .mo {
	color: inherit;
	font-weight: inherit;
}
.MathJax .mi {
	color: inherit;
	font-weight: inherit;
}
