{% include header.html %}

<div class="wrapper">
  <div class="content">
    <div class="container container-center">
      <div class="row">
        <div class="col-md-12">
          <div class="article">
            <div class="well">
              <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
              <div class="post-meta">
                <div class="post-time">
                  <i class="fa fa-calendar"></i>
                  <time>{{ page.date | date_to_string }}</time>
                </div>
                <ul>
                  {% for tag in page.tags %}
                    <li><a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="post-content">
                <div id="toc" class="toc"></div>
                {{ content }}
              </div>
			  <div class="post-footer">
				  <div class="column-full">
					  <h3 id="blog-archive"><a href="{{ '/archive.html' | prepend: site.baseurl | prepend: site.url }}">Blog archive</a></h3>
				  </div>
			  </div>
            </div>
          </div>
        </div>
        <!--
        <div class="col-md-3 hidden-xs">
          {% include sidebar.html %}
		</div>
		-->
      </div>
	  {% include disqus-comments.html %}
    </div>
  </div>
  {% include footer.html %}
</div>
